* {
  box-sizing: border-box;
}
.header {
  height: 129px ;
}
a {
  display: flex;
  color: #391113;
  text-decoration: none;
  list-style: none;
}
ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-decoration: none;
}
li {
  text-transform: uppercase;
  list-style: none;
}
.containerHeader {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
  padding: 15px 30px;
  text-decoration: none;
  background:#fff;
  border-bottom: 2px solid #f09ec4;
}
@media (max-width: 991px){
  .header {
    z-index: 2;
    height: 119px;
  }
  .containerHeader{
    position: relative;
    z-index: 3;
    height: 100%;
    padding: 10px 30px;
  }
}